{% extends "base.html" %}

{% block background %}<body id="fundo1">{% endblock %}

{% block conteudo %}
 
<div id="Main">
    <img class="capa" src="../static/img/capa.png">

    <h3>Sobre a universidade</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam facilisis risus arcu, sit amet interdum risus egestas lacinia. Ut iaculis tempor erat ut gravida. Pellentesque a purus mi. Vivamus non nulla vitae enim hendrerit porta. Nulla euismod molestie hendrerit. Nam at mi dapibus, posuere massa a, pharetra tortor. Proin at scelerisque est, nec feugiat sem. Fusce eget metus posuere, ullamcorper lacus eget, malesuada ligula. Mauris commodo tellus vel est porta pellentesque. Morbi aliquet, arcu ac commodo mattis, enim leo volutpat metus, sed tristique orci dui vel leo. Vivamus ac posuere diam. Duis quis laoreet erat. Pellentesque a orci mauris.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam facilisis risus arcu, sit amet interdum risus egestas lacinia. Ut iaculis tempor erat ut gravida. Pellentesque a purus mi. Vivamus non nulla vitae enim hendrerit porta. Nulla euismod molestie hendrerit. Nam at mi dapibus, posuere massa a, pharetra tortor. Proin at scelerisque est, nec feugiat sem. Fusce eget metus posuere, ullamcorper lacus eget, malesuada ligula. Mauris commodo tellus vel est porta pellentesque. Morbi aliquet, arcu ac commodo mattis, enim leo volutpat metus, sed tristique orci dui vel leo. Vivamus ac posuere diam. Duis quis laoreet erat. Pellentesque a orci mauris.
    </p>


</div>

{% endblock %}

</html>