{% extends "base.html" %}

{% block background %}<body class="fundo">"{% endblock %}

{% block conteudo %}

<h3>Quem somos</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam facilisis risus arcu, sit amet interdum risus egestas lacinia. Ut iaculis tempor erat ut gravida. Pellentesque a purus mi. Vivamus non nulla vitae enim hendrerit porta. Nulla euismod molestie hendrerit. Nam at mi dapibus, posuere massa a, pharetra tortor. Proin at scelerisque est, nec feugiat sem. Fusce eget metus posuere, ullamcorper lacus eget, malesuada ligula. Mauris commodo tellus vel est porta pellentesque. Morbi aliquet, arcu ac commodo mattis, enim leo volutpat metus, sed tristique orci dui vel leo. Vivamus ac posuere diam. Duis quis laoreet erat. Pellentesque a orci mauris.
</p>

<h3>5 motivos para estudar</h3>

<ol>
    <li>Material sempre atualizado</li>
    <li>Tablets em sala de aula</li>
    <li>Professores renomados</li>
    <li>Universidade bem avaliada</li>
    <li>Ótima localização</li>
</ol>

<hr>

<h3>Objetivos</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam facilisis risus arcu, sit amet interdum risus egestas lacinia. Ut iaculis tempor erat ut gravida. Pellentesque a purus mi. Vivamus non nulla vitae enim hendrerit porta. Nulla euismod molestie hendrerit. Nam at mi dapibus, posuere massa a, pharetra tortor. Proin at scelerisque est, nec feugiat sem. Fusce eget metus posuere, ullamcorper lacus eget, malesuada ligula. Mauris commodo tellus vel est porta pellentesque. Morbi aliquet, arcu ac commodo mattis, enim leo volutpat metus, sed tristique orci dui vel leo. Vivamus ac posuere diam. Duis quis laoreet erat. Pellentesque a orci mauris.
</p>

</form>

{% endblock %}
